*{
    font-family: "Fredoka one" ,cursive;
    
}

.picicon{
   
    height: 150px;
    width: 150px;
    /* top: -15px;
    left: 65px;
    position: relative;
    transform: translate(-50%,-50%); */
    border-radius: 100%;
    outline: 1px solid black;
    background: transparent;
    
}
.picicon:hover{
    outline: 1px solid brown;
}


ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
}

body{
    background-image: url("./clips/vintage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.back{

}
.icon{
    height: 40px;
    width: 40px;
    margin-left:30px;
}
.space{
    margin-left:25%;
    font-size: 20px;
}

li a{
    color: black;
    text-decoration:none;
    
}
li:hover{
    outline: 1px solid black;
    /* text-decoration-line: underline; */
    background-color: #F5F5F5;
}
li a:hover{
    /* outline: 1px solid green; */
    color:brown;
   
    
}
 

  .head:hover{
    text-decoration-line: underline;
    /* color:brown; */
    color:#F5F5F5;
  }
  .head
  {
    
    font-family: "Fredoka one" ,cursive;
  }
  .footer{
    margin-left: 50px;
  }
  .im{
    margin-left: 55px;
  }
  .footer:hover{
   
        text-decoration-line: underline;
        /* color:brown; */
        color:#F5F5F5;
      
  }
  